# server/node_modules
# server/dist/
# server/yarn-error.log
# server/yarn.lock

frontend/.next
frontend/node_modules
frontend/out/
frontend/build
frontend/next-env.d.ts
frontend/package-lock.json
frontend/yarn.lock